extends layout

block content
  h1= 'Light State'
  //p Welcome to batatat #{title}
  img(src='images/' + imageToUse, width=400, id='light_state_id')
  h1= 'Water Level'
  img(src='images/' + waterImageToUse, width=400, id='water_state_id')

  script(src='javascripts/photoChanger.js')
